*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: $color-prim;
  background-color: $color-background;
}

img {
  max-width: 969px;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}
