.material-icons.md-14 {
  font-size: 15px;
}

.material-icons.md-emp {
  color: $color-emphasis;
}

.ico_hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 13px;
  height: 10px;
  .bullet {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #c4c4c4;
    &:not(:nth-child(3n)) {
      margin-right: 2px;
    }
  }
}
