h1 {
  font-family: "Playfair Display", Verdana, sans-serif;
  color: $color-add;
  @include font($size: 1.5rem, $height: 2rem, $weight: 700);
  @include media-tablet {
    @include font($size: 3rem, $height: 4rem, $weight: 700);
  }
}

h2 {
  font-family: "Playfair Display", Helvetica, sans-serif;
  @include font($size: 1.125rem, $height: 1.5rem, $weight: 700);
  @include media-tablet {
    letter-spacing: 0em;
    @include font($size: 24px, $height: 32px, $weight: 700);
  }
}

p {
  font-family: Montserrat;
  letter-spacing: 0em;
  @include font($size: 0.875rem, $height: 1.25rem, $weight: 400);
  @include media-tablet {
    @include font($size: 16px, $height: 25px, $weight: 400);
  }
}

.hero__text {
  color: #4f4f4f;
  @include font(
    $size: 0.75rem,
    $height: 0.9375rem,
    $weight: 500,
    $style: italic
  );
  @include media-tablet {
    letter-spacing: 0em;
    @include font($size: 14px, $height: 17px, $weight: 500, $style: italic);
  }
}

.text_highlighted {
  @include font($size: 0.875rem, $height: inherit, $weight: 700);
  @include media-tablet {
    letter-spacing: 0em;
    @include font($size: 1rem, $height: inherit, $weight: 700);
  }
}

.text-emphasized {
  letter-spacing: 0em;
  @include font($size: 14px, $height: 25px, $weight: 500, $style: italic);
}

.info__title {
  text-transform: uppercase;
  @include font($size: 0.5rem, $height: 0.625rem, $weight: 700);
  @include media-tablet {
    @include font($size: 0.625rem, $height: 0.75rem, $weight: 700);
  }
}

.info__description {
  @include font($size: 0.625rem, $height: 0.75rem, $weight: 500);
  &_emphasize {
    color: $color-emphasis;
  }
  @include media-tablet {
    @include font($size: 14px, $height: 17px, $weight: 500);
  }
}

.dish__title {
  @include font($size: 1rem, $height: 1.3125rem, $weight: 400, $style: italic);
  @include media-tablet {
    @include font(
      $size: 1.125rem,
      $height: 1.5rem,
      $weight: 400,
      $style: italic
    );
  }
}

.dish__ingredient {
  font-family: Montserrat;
  @include font($size: 0.875rem, $height: 1.5625rem, $weight: 400);
}

.instruction__text {
  letter-spacing: 0em;
  @include font($size: 16px, $height: 24px, $weight: 400);
  @include media-tablet {
    @include font($size: 16px, $height: 20px, $weight: 400);
  }
}

.source {
  font-family: Montserrat;
  letter-spacing: 0em;
  @include font(
    $size: 0.75rem,
    $height: 1.125rem,
    $weight: 400,
    $style: italic
  );
  @include media-tablet {
    @include font($size: 1rem, $height: 1.5rem, $weight: 400, $style: italic);
  }
}

.footer__text {
  font-family: Montserrat;
  letter-spacing: 0em;
  @include font($size: 14px, $height: 17px, $weight: 500);
  .span {
    font-weight: 700;
  }
}
