.hero {
  padding-top: 32px;
  &__content {
    display: flex;
    align-items: flex-start;
    padding-top: 10px;
  }
  &__icon {
    padding-top: 3px;
    margin-right: 12px;
  }
  &__image {
    border-radius: 12px;
    margin-top: 25px;
    object-fit: cover;
    max-height: 470px;
  }

  @include media-laptop {
    padding-top: 52px;
    padding-bottom: 48px;
    &__content {
      width: 65%;
      padding-top: 12px;
    }
    &__image {
      margin-top: 43px;
    }
  }
}
