.hero {
  padding-top: 32px;
  &__content {
    display: flex;
    align-items: flex-start;
    padding-top: 10px;
  }
  &__icon {
    padding-top: 3px;
    margin-right: 12px;
  }
  &__image {
    border-radius: 12px;
    margin-top: 25px;
  }
}
