.info {
  padding-top: 24px;
  @include media-laptop {
    order: 1;
  }
  &__title {
    color: $color-gray-light;
  }
  &__servings {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    &__content {
      padding-left: 5.5px;
    }
  }
  &__timers {
    display: flex;
    padding-top: 10px;
    padding-bottom: 16px;
    > :not(:last-child) {
      margin-right: 45px;
    }
    &__content {
      padding-left: 5.5px;
    }
    .timer {
      display: flex;
      align-items: center;
    }
    @include media-laptop {
      flex-direction: column;
    }
  }
}
