.info {
  padding-top: 24px;
  &__title {
    text-transform: uppercase;
    color: #bdbdbd;
    @include font($size: 0.5rem, $height: 0.625rem, $weight: 700);
  }
  &__description {
    @include font($size: 0.625rem, $height: 0.75rem, $weight: 500);
    &_emphasize {
      color: $color-emphasis;
    }
  }
  &__servings {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    &__content {
      padding-left: 5.5px;
    }
  }
  &__timers {
    display: flex;
    padding-top: 10px;
    padding-bottom: 16px;
    > :not(:last-child) {
      margin-right: 45px;
    }
    &__content {
      padding-left: 5.5px;
    }
    .timer {
      display: flex;
      align-items: center;
    }
  }
}
